<custom-loader *ngIf="loading"></custom-loader>

<div *ngIf="!loading">
    <nb-card>
        <nb-card-header>
            <nb-user *ngIf="userName" size="giant" [(name)]="userName"></nb-user>
        </nb-card-header>
        <nb-card-body>

            <ng-container *ngIf="userBio; else noUserBio">
                <div class="text-basic text-center">
                    {{userBio}}
                </div>
            </ng-container>
            <ng-template #noUserBio>
                <h4 class="text-hint text-center">Click to add your bio</h4>
                <div class="row" style="justify-content: center; margin-top: 35px;">
                    <nb-icon (click)="openDialog()" style="font-size: 100px;" class="text-hint"
                        icon="plus-circle-outline">
                    </nb-icon>
                </div>
            </ng-template>

        </nb-card-body>
        <nb-card-footer>
            <div class="text-hint text-right">
                Following: {{numOfUsersFollowed}}
            </div>
        </nb-card-footer>
    </nb-card>

    <nb-card>
        <nb-card-header>
            <div class="text-center text-body">
                <h5>Users following</h5>
            </div>
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="numOfUsersFollowed != 0; else usersFollowedNotZero">
                <nb-list>
                    <nb-list-item *ngFor="let user of usersFollowed">
                        <nb-user [name]="user.userName" [title]="user.userID">
                        </nb-user>
                        <button style="margin-left: auto;" (click)="unfollowUser(user.userID)"
                            nbButton>Unfollow</button>
                    </nb-list-item>
                </nb-list>
            </ng-container>
            <ng-template #usersFollowedNotZero>
                <h6 class="text-hint text-center">Follow a user by clickling the search button...</h6>
            </ng-template>

        </nb-card-body>
    </nb-card>

    <nb-card>
        <nb-card-header>
            <div class="text-center text-basic">
                <h5>My Posts</h5>
            </div>
        </nb-card-header>
        <nb-card-body>

            <div *ngIf="posts.length == 0">
                <h6 class="text-hint text-center">No posts to show!</h6>
            </div>

            <nb-list *ngIf="posts.length != 0">
                <nb-list-item *ngFor="let post of posts">
                    <nb-card style="flex: auto;">
                        <nb-card-header>
                            <div>
                                <h6 class="text-basic text-center">{{post.title}}</h6>
                                <div class="row">
                                    <p class="text-hint text-left">Click on icon to view on IPFS</p>
                                    <p style="margin-left: auto;" class="text-hint text-right">Posted under: <span
                                            class="text-basic">{{post.tag}}</span></p>
                                </div>
                            </div>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="row" style="justify-content: center;">
                                <img style="width: 150px;" class="text-center" (click)="goToIPFSLink(post.hash)"
                                    src="../../../assets/images/file-icons/{{post.dataType}}.png" alt="File-Icon">
                                <!-- <div class="row" style="margin-top: 10px; margin-left: 20px;">
                      <h6 class="text-basic">Open link: <a href="https://ipfs.io/ipfs/{{post.hash}}">{{post.title}}</a></h6>
                    </div> -->
                            </div>
                        </nb-card-body>
                        <nb-card-footer>
                            <h6 class="text-hint text-right">Post added on: {{post.creationTime*1000 | date: "medium"}}
                            </h6>
                        </nb-card-footer>
                    </nb-card>
                </nb-list-item>
            </nb-list>

        </nb-card-body>
    </nb-card>
</div>