<custom-loader *ngIf="loading"></custom-loader>

<div *ngIf="!loading">
    <nb-card>
        <nb-card-header>
            <nb-user *ngIf="userName" size="giant" [(name)]="userName"></nb-user>
        </nb-card-header>
        <nb-card-body>

            <ng-container *ngIf="userBio; else noUserBio">
                <div class="text-basic text-center">
                    {{userBio}}
                </div>    
            </ng-container>
            <ng-template #noUserBio>
                <h4 class="text-hint text-center">Click to add your bio</h4>
                <div class="row" style="justify-content: center; margin-top: 35px;">
                    <nb-icon (click)="openDialog()" style="font-size: 100px;" class="text-hint" icon="plus-circle-outline">
                    </nb-icon>
                </div>
            </ng-template>

        </nb-card-body>
        <nb-card-footer>
            <div class="text-hint text-right">
                Following: blabidabladibla
            </div>
        </nb-card-footer>
    </nb-card>
</div>