<nb-list>
    <nb-list-item  style="justify-content: center;" *ngFor="let tx of transactions; let i=index">
        <nb-card>
            <nb-card-header>
                <div class="text-body" style="justify-content: center;">
                    {{tx.description}}
                    <span style="float: right;" [ngStyle]="tx.status==true?{'color':'green'} : {'color': 'red'}">
                        Status: {{tx.status}}
                    </span>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="text-center text-hint">
                    Transaction hash: <span class="text-body">{{tx.transactionHash}}</span> 
                    <hr>
                    Transaction From: <span class="text-body">{{tx.from}}</span>
                    <hr>
                    Transaction To: <span class="text-body">{{tx.to}}</span>                    
                    <hr>
                    Gas used: <span class="text-body">{{tx.gasUsed}}</span>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <span class="text-hint" style="float: left;">Click on button to open transaction URL</span>
                <nb-icon icon="external-link-outline" (click)="openTransactionURL(tx.transactionHash)" style="float: right;"></nb-icon>
            </nb-card-footer>
        </nb-card>
    </nb-list-item>
</nb-list>