<!-- <nb-layout>
    <nb-layout-column>
        <nb-card size="large">
            <nb-card-header>Select a file for upload</nb-card-header>
            <nb-card-body>

                <div class="row" style="justify-content: center;">
                    <input type="file" id="file" accept=".jpg, .jpeg, .png .pdf .jpeg .img .ico .raw"
                    (change)="handleFileInput($event.target.files)" size="60">
                </div>

            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout> -->

<div *ngIf="uploadingFlag">
    <div id="nb-global-spinner" class="spinner">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>
</div>

<nb-card size="giant">
    <nb-card-header class="text-center">Add a new post</nb-card-header>
    <nb-card-body>

        <form [(formGroup)]="postForm" style="margin-top: 10px;" (ngSubmit)="submitPost()" aria-labelledby="title">

            <div class="form-group row">
                <label class="label col-md-3 col-form-label" for="input-postTitle">Post Title</label>
                <input type="text" formControlName="postTitle" nbInput fullWidth fieldSize="large" shape="round"
                    placeholder="Brief title for your post"
                    [status]="postForm.dirty && postForm.controls.postTitle.touched ? (postForm.controls.postTitle.invalid  ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="postForm.controls.postTitle.invalid && postForm.controls.postTitle.touched ? true : null">
            </div>
            <ng-container *ngIf="postForm.controls.postTitle.invalid && postForm.controls.postTitle.touched">
                <p class="caption status-danger" *ngIf="postForm.controls.postTitle.errors?.required">
                    Post Title is required!
                </p>
            </ng-container>

            <div class="form-group row" style="margin-top: 30px;">
                <label class="label" for="input-postTag">Tag</label>
                <input type="text" formControlName="postTag" nbInput fullWidth fieldSize="large" shape="round"
                    placeholder="Category of post (Eg. Machine Learning, AI etc.)"
                    [status]="postForm.dirty && postForm.controls.postTag.touched ? (postForm.controls.postTag.invalid  ? 'danger' : 'success') : 'basic'">
            </div>
            <ng-container *ngIf="postForm.controls.postTag.invalid && postForm.controls.postTag.touched">
                <p class="caption status-danger" *ngIf="postForm.controls.postTag.errors?.required">
                    Post Tag is required!
                </p>
            </ng-container>

            <div class="row" style="justify-content: center;">
                <p class="sub-title" style="margin-top: 10px;">Drag and drop a file or Click below area to select one
                </p>
            </div>

            <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (drop)="uploadFile($event)"
                (onFileDropped)="uploadFile($event)">
                <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
            </div>
            <div class="files-list" *ngFor="let file of files;let i=index">
                <p>{{ file.name }}</p>
                <button class="delete-file" (click)="deleteAttachment(i)">
                    <img src="../../../../assets/images/Recycle_Bin_Full.png">
                </button>
            </div>



            <div class="row" type="submit" style="float: right; margin-top: 60px; margin-right: 10px;">
                <button nbButton hero status="success">Submit</button>
            </div>
        </form>

    </nb-card-body>
</nb-card>